* {
  box-sizing: border-box;
}


.row {
  width: 100%;
}

@media (min-width: 992px) {
   .col-desktop {
    float: left;
    width: 31.33%;
    border: 1px solid black;
    padding: 10px;
    margin: 1%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-1-tablet {
    float: left;
    width: 48%;
    border: 1px solid black;
    padding: 10px;
    margin: 1%;
  }
  .col-2-tablet {
      float: left;
      width: 98%;
      border: 1px solid black;
      padding: 10px;
      margin: 1%;

  }
 }
 @media (max-width: 767px) {
   .col-mobile {
    float: left;
    width: 98%;
    border: 1px solid black;
    padding: 10px;
    margin: 1%;
  }
}


h1 {
  color: blue;
  font-size: 16px;
}